# 루트 및 패키지별 node_modules
node_modules/
**/node_modules/

# pnpm, yarn, npm 관련
.pnp
.pnp.js
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# 빌드/배포 산출물
dist/
build/
out/
.next/
**/dist/
**/build/
**/.next/
**/out/

# 테스트 커버리지
coverage/
**/coverage/

# 환경설정 및 민감정보
.env
.env.*
**/.env
**/.env.*

# IDE/OS/기타
.DS_Store
*.pem
.turbo/
.vercel/
.turbo/
*.tsbuildinfo
next-env.d.ts

# Prisma
**/prisma/dev.db
**/prisma/dev.db-journal

# 기타 캐시/임시파일
*.log
*.tmp
*.swp

# VSCode
.vscode/
